<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall.ware.mapper.WareSkuMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.mall.ware.entity.WareSkuEntity" id="wareSkuMap">
        <result property="id" column="id"/>
        <result property="skuId" column="sku_id"/>
        <result property="wareId" column="ware_id"/>
        <result property="stock" column="stock"/>
        <result property="skuName" column="sku_name"/>
        <result property="stockLocked" column="stock_locked"/>
    </resultMap>
    <update id="addStock">

        update mall_wms.wms_ware_sku

        set "stock" = #{skuNum} + stock
        where sku_id = #{skuId}
        and ware_id = #{wareId}
        <!--<set>
            "stock" = #{skuNum} + stock
        </set>
        <where>
            sku_id = #{skuId}
            and ware_id = #{wareId}
        </where>   -->
    </update>
    <update id="lockStock">
        update wms_ware_sku
        set stock_locked = stock_locked + #{count}
        where id = #{id}
          and stock - stock_locked >= #{count}
    </update>
    <update id="releaseStock">
        update wms_ware_sku
        set stock_locked = stock_locked - #{skuNum}
        where sku_id = #{skuId}
          and ware_id = #{wareId}

    </update>
    <update id="deductStock">
        update wms_ware_sku
        set stock_locked = stock_locked - #{skuNum},stock = stock - #{skuNum}
        where sku_id = #{skuId}
          and ware_id = #{wareId}

    </update>
    <select id="queryStockBySkuIds" resultType="com.mall.common.to.WareSkuStockTO">
        select sku_id as sku_id,sum(stock - stock_locked) as stock
        from wms_ware_sku
        where sku_id in
        <foreach item="item" index="index" collection="skuIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        group by sku_id
    </select>
    <select id="findWareBySkuStockCondition" resultType="com.mall.ware.entity.WareSkuEntity">
        SELECT *
        FROM  wms_ware_sku
        <where>
            sku_id = #{skuId}
            and stock - stock_locked >= #{num}
        </where>
        LIMIT 1;
    </select>


</mapper>